.mini-task-card{
  max-width: 320px;
}
.assignees-label{
  background-color: whitesmoke;
  border: 1px solid #0b5ed7;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.mini-task-card-description{
  max-height: 200px;
}

body{
  background-color: #bab4b4!important;
}

